/node_modules
/public/hot
/public/storage
/public/media/*
/public/products/*
/public/store-templates/*
/public/store-categories/*
/storage/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/volumes/*
